@model IEnumerable<MUPTest.Models.Request>

@{
    ViewBag.Title = "Просмотр заявок";
}

<h2>Просмотр заявок</h2>

<p>
    @Html.ActionLink("Создать новую заявку", "Create")
</p>
<form method="get">
    <div class="form-inline">
        <label class="control-label">Команда: </label>
        @Html.DropDownList("statusId", ViewBag.Statuses as SelectList,
                    htmlAttributes: new { @class = "form-control" })

        <label class="control-label">За период:</label>
        от
        @*Html.Label("fristDate", htmlAttributes: new { @class = "form-control" })*@
        @Html.TextBox("firstDate", "", new { @class = "form-control" })
        до
        @*Html.Label("secondDate", htmlAttributes: new { @class = "form-control" })*@
        @Html.TextBox("secondDate", "", new { @class = "form-control" })
        <label class="control-label">@ViewBag.FormatExciptoin</label>

        <input type="submit" value="Фильтр" class="btn btn-default" />
        <a href="/home/index/">Очистить фильтр</a>
    </div>
</form>
<table class="table">
    <tr>
        <th>
            Заголовок
        </th>
        <th>
            Описание
        </th>
        <th>
            Текущий статус
        </th>
        <th>
            Время создания
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.StatusCaption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            <a href="/Movements/index/@item.Id">Подробнее/продвинуть заявку</a> |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
